<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Casey Store</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous">

</head>

<body>

  <nav class="nav w-50 p-3">
    <a class="nav-link" href="/">HOME</a>
    <a class="nav-link" href="/claim_list">CLAIM LIST</a>
  </nav>

  <form method="post" action="/do_claim">
    <div class="container p-3 my-3">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name='title' placeholder="Enter title">
      </div>
      <div class="form-group">
        <label for="Casey_Store">Casey Store</label>
        <select class="form-control" id="casey_store" name="casey_store">
          <%for(var i = 0; i < store_data.length; i++){%>
            <%if(store_data.name[i]==store){%>
              <option id="<%= store_data.name[i]%>" selected="selected"><%= store_data.name[i]%></option>
            <%} else{ %>
              <option id="<%= store_data.name[i]%>"><%= store_data.name[i]%></option>
            <%}%>
          <%}%>
          <option>others</option>
        </select>
      </div>
      <div class="form-group">
        <label for="place">Where is the store</label>
        <input type="text" class="form-control" id="place" name='place' placeholder="Enter place">
      </div>
      <div class="form-group">
        <label for="time">Write open time and close time</label>
        <input type="text" class="form-control" id="time" name='time' placeholder="Enter time">
      </div>
      <div class="form-group">
        <label for="place">What is the store telephon number</label>
        <input type="text" class="form-control" id="tel" name='tel' placeholder="Enter tel">
      </div>
      <div class="form-group">
        <label for="place">Write more detail about store</label>
        <input type="text" class="form-control" id="description" name='description'placeholder="Enter description">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</body>

</html>
