<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Casey Store</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous">

</head>

<body>

  <nav class="nav w-100 p-3">
    <a class="p-2 nav-link" href="/main/">HOME</a>
    <a class="nav-link" href="/claim/do">DO CLAIM</a>
    <a class="nav-link" href="/claim/list">CLAIM LIST</a>
  </nav>
  <div class="container">
    <form action="/login/login" method="post" name="frm_login" id="frm_login">
      <div class="form-group">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" name="id">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="pwd" name="pwd">
      </div>
      <input type="hidden" id="previous" name="previous" value=<%= previous%>/>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

</body>

</html>
