<!DOCTYPE html>
<html lang="en">

<head>

  <header>
    <%- include ("./header") %>
  <header>

</head>

<body>

  <nav class="nav w-100 p-3">
    <a class="nav-link" href="/main/">HOME</a>
    <a class="nav-link" href="/claim/list">CLAIM LIST</a>
  </nav>

  <form method="post" action="/admin/store/add">
    <div class="container p-3 my-3">
      <div class="form-group">
        <label for="title">Casey Store</label>
        <input type="text" class="form-control" id="name" name='name' placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="place">Where is the store</label>
        <input type="text" class="form-control" id="place" name='place' placeholder="Enter place">
      </div>
      <div class="form-group">
        <label for="time">Write open time and close time</label>
        <input type="text" class="form-control" id="time" name='time' placeholder="Enter time">
      </div>
      <div class="form-group">
        <label for="tel">What is the store telephon number</label>
        <input type="text" class="form-control" id="tel" name='tel' placeholder="123-1234-1234" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4} | [0-9]{3}-[0-9]{3}-[0-9]{4} | [0-9]{3}-[0-9]{4}">
      </div>
      <div class="form-group">
        <label for="place">Write more detail about store</label>
        <textarea class="form-control" id="description" name='description'placeholder="Enter description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


  <!-- Bootstrap core JavaScript -->
  <footer>
    <%- include ("./footer") %>
  <footer>
</body>

</html>
